<div class="container">
    <div class="section-heading">
      <h6><span>COMING SOON</span></h6>
      <h2>Our New Project <span>is Coming Soon</span></h2>
    </div>
    <div class="row gy-5">
      <div class="col-md-12">
        <div class="services-box coming-soon">
          <div class="services-body">
            <div class="icon">
              <i class="bi-hourglass-bottom animated-icon"></i>
            </div>
            <h5>Stay Tuned</h5>
            <p>Our new project is under construction and will be revealed soon.</p>
            <div class="countdown">
              <span id="days">00</span> Days
              <span id="hours">00</span> Hours
              <span id="minutes">00</span> Minutes
              <span id="seconds">00</span> Seconds
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  