<!-- <div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="hs-text-box">
        <h6><span>Tejus</span></h6>
        <h1>Hey! I’m Tejus</h1>
        <h2>I'm a <span class="typed-element"></span></h2>
        <p class="text">
          {{ homeData.about_me }}
        </p>
        <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row">
          <a class="px-btn" href="javascript:"><span href="#contactus" (click)="fullPageScroll('contactus')">Get in
              touch</span> <i class="bi-arrow-right"></i>
          </a>
          <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
            <a class="email" href="mailto:mtejus29@gmail.com" target="_blank">
              <i class="far fa-envelope"></i>
            </a>
            <a class="linkedin m-0" href="https://www.linkedin.com/in/tejus-m-b77740280/" target="_blank"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="hs-banner">
        <img *ngIf="homeData.picture_url" [src]="homeData.picture_url" title="" alt="Home Banner"
          class="img-fluid rounded-circle" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="hs-text-box">
        <h6><span>Tejus</span></h6>
        <h1>Hey! I’m Tejus</h1>
        <h2>I'm a <span class="typed-element"></span></h2>
        <p class="text">
          I'm a passionate Angular developer with over 4+ years of experience in
          building robust web applications. I love to create elegant solutions to
          complex problems and I'm constantly exploring new ways to improve user
          experiences. Let's work together to bring your ideas to life!
        </p>


        <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row">
          <a class="px-btn" href="javascript:"><span href="#contactus" (click)="fullPageScroll('contactus')">Get in
              touch</span> <i class="bi-arrow-right"></i>
          </a>
          <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
            <a class="email" href="mailto:mtejus29@gmail.com" target="_blank">
              <i class="far fa-envelope"></i>
            </a>

            <a class="dribbble" href="javascript:"><i class="fab fa-dribbble"></i></a>
            <a class="linkedin m-0" href="https://www.linkedin.com/in/tejus-m-b77740280/" target="_blank"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hs-banner">
        <img *ngIf="homeData.picture_url" [src]="homeData.picture_url" title="" alt="Home Banner"
          class="img-fluid rounded-circle" />
        <img src="assets/img/home-banner.jpeg" title="" alt="" />
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row align-items-center">
    <!-- Text Section -->
    <div class="col-lg-6">
      <div class="hs-text-box">
        <h6><span>Tejus</span></h6>
        <h1>Hey! I’m Tejus</h1>
        <h2>I'm a <span class="typed-element"></span></h2>
        <p class="text">
          I'm a passionate Angular developer with over 4+ years of experience in
          building robust web applications. I love to create elegant solutions to
          complex problems and I'm constantly exploring new ways to improve user
          experiences. Let's work together to bring your ideas to life!
        </p>
        <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row">
          <a class="px-btn" href="javascript:">
            <span href="#contactus" (click)="fullPageScroll('contactus')">Get in touch</span> <i class="bi-arrow-right"></i>
          </a>
          <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
            <a class="email" href="mailto:mtejus29@gmail.com" target="_blank">
              <i class="far fa-envelope"></i>
            </a>
            <a class="linkedin m-0" href="https://www.linkedin.com/in/tejus-m-b77740280/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Image Section -->
    <div class="col-lg-6">
      <div class="hs-banner">
        <img *ngIf="homeData.picture_url" [src]="homeData.picture_url" title="" alt="Home Banner" class="img-fluid " />
        <!-- Placeholder Image -->
        <img src="assets/img/home-banner.jpeg" title="" alt="" />
      </div>
    </div>
  </div>
</div>
